force-app/main/default/flows/Contact_SF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Contact_Assign</name>
        <label>Contact Assign</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ContactScreenFlow.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactScreenFlow.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactScreenFlow.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactScreenFlow.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactScreenFlow.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_SF_Creation</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>CleanStatusSF</name>
        <dataType>String</dataType>
        <displayField>CleanStatus</displayField>
        <object>Contact</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Contact SF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact SF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Contact_SF_Creation</name>
        <label>Contact SF Creation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>ContactScreenFlow</inputReference>
    </recordCreates>
    <screens>
        <name>Contact_Form</name>
        <label>Contact Form</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Assign</targetReference>
        </connector>
        <fields>
            <name>Contact_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First</name>
                    <dataType>String</dataType>
                    <fieldText>First</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Department</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last</name>
                    <dataType>String</dataType>
                    <fieldText>Last</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Department</name>
            <dataType>String</dataType>
            <fieldText>Department</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Email.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Clean</name>
            <choiceReferences>CleanStatusSF</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Clean</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Form</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContactScreenFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
